Predicting Survival from titanic crash using Naive Bayes

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [23]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [24]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [25]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [26]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

Dropping male column as well because of dummy variable trap theory. One column is enough to repressent male vs female

In [27]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [28]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [29]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [30]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3,random_state=0)

In [32]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [33]:
model.fit(X_train,y_train)

GaussianNB()

In [34]:
model.score(X_test,y_test)

0.7798507462686567

In [35]:
X_test[0:10]

     Pclass        Age      Fare  female
495       3  29.699118   14.4583       0
648       3  29.699118    7.5500       0
278       3   7.000000   29.1250       0
31        1  29.699118  146.5208       1
255       3  29.000000   15.2458       1
298       1  29.699118   30.5000       0
609       1  40.000000  153.4625       1
318       1  31.000000  164.8667       1
484       1  25.000000   91.0792       0
367       3  29.699118    7.2292       1

In [36]:
y_test[0:10]

495    0
648    0
278    0
31     1
255    1
298    1
609    1
318    1
484    1
367    1
Name: Survived, dtype: int64

In [37]:
model.predict(X_test[0:10])

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [38]:
model.predict_proba(X_test[:10])

array([[9.60491251e-01, 3.95087495e-02],
       [9.59842236e-01, 4.01577643e-02],
       [9.33217251e-01, 6.67827492e-02],
       [2.72318876e-04, 9.99727681e-01],
       [3.55222449e-01, 6.44777551e-01],
       [7.50474954e-01, 2.49525046e-01],
       [1.58574862e-04, 9.99841425e-01],
       [5.18992368e-05, 9.99948101e-01],
       [3.18046357e-01, 6.81953643e-01],
       [3.52823397e-01, 6.47176603e-01]])